# =========================
# GRADLE
# =========================
.gradle/
build/

# Mantener wrapper (necesario)
!gradle/wrapper/gradle-wrapper.jar

# =========================
# REPORTES (Serenity / Tests)
# =========================
build/reports/
build/serenity/
build/test-results/

# =========================
# JAVA
# =========================
*.class
*.log

# =========================
# INTELLIJ IDEA
# =========================
.idea/
*.iml
out/

# =========================
# SISTEMA
# =========================
.DS_Store
Thumbs.db